@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F0;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Instrument Sans';
}

label {
  font-weight: 600;
}

.bg-zoom {
  background-size: 1400%;
  background-position: bottom right;
}

.toggle-thinking {
  animation-name: thinking;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes thinking {
  0% {
    background-position: bottom right;
    color: initial;
  }
  30% {
    color: #00000055;
  }
  70% {
    color: initial;
  }
  100% {
    background-position: center center;
    
  }
}