@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #faf9f0;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Instrument Sans";
}

button {
    outline: none;
}

label {
    font-weight: 600;
}

.bg-zoom {
    background-size: 1400%;
    background-position: bottom right;
    transition: background-image 1s ease-in-out;
    transition: box-shadow 1s ease-in-out;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}

.toggle-thinking {
    animation-name: thinking;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes thinking {
    0% {
        background-position: bottom right;
        opacity: 1;
        scale: 1;
        filter: blur(0);
    }
    30% {
        opacity: 0.4;
        scale: 0.98;
        filter: blur(1);
    }
    70% {
        color: 1;
        scale: 1;
        filter: blur(0);
    }
    100% {
        background-position: center center;
    }
}

.animate-blurpulse {
    animation-name: blur-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 2px 2px 20px rgba(15, 244, 198, 1),
        -2px -2px 20px rgba(214, 143, 214, 1);
}

@keyframes blur-pulse {
    0% {
        filter: blur(0);
        color: initial;
    }
    50% {
        filter: blur(1);
        color: rgba(214, 143, 214, 1);
    }
    65% {
        filter: blur(1);
        color: rgba(15, 244, 198, 1);
    }
    100% {
        filter: blur(0);
        color: initial;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"] {
    outline: none;
}

@keyframes moveBackground {
    0% {
        background-size: 100% 100%;
    }
    10% {
        background-size: 120% 80%;
    }
    20% {
        background-size: 190% 140%;
    }
    30% {
        background-size: 130% 110%;
    }
    40% {
        background-size: 150% 120%;
    }
    50% {
        background-size: 180% 100%;
    }
    60% {
        background-size: 220% 80%;
    }
    70% {
        background-size: 100% 50%;
    }
    80% {
        background-size: 120% 70%;
    }
    90% {
        background-size: 110% 90%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.animate-blur-zoom-in {
    animation: blur-zoom-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.animate-blur-zoom-out {
    animation: blur-zoom-out;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes blur-zoom-in {
    0% {
        filter: blur(10px);
        scale: 0.9;
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        scale: 1;
        opacity: 1;
    }
}

@keyframes blur-zoom-out {
    0% {
        filter: blur(0px);
        scale: 1;
        opacity: 1;
    }
    100% {
        filter: blur(10px);
        scale: 0.9;
        opacity: 0;
    }
}

.gradient-bg {
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
    z-index: -1;
    background-color: "hsla(224,25%,17%,1)";
    background-image: radial-gradient(
            at 93% 60%,
            hsla(224, 25%, 17%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 96% 2%, hsla(335, 85%, 54%, 1) 0px, transparent 50%),
        radial-gradient(at 68% 94%, hsla(180, 47%, 30%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 30%, hsla(335, 85%, 54%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 75%, hsla(180, 47%, 30%, 1) 0px, transparent 50%),
        radial-gradient(at 49% 40%, hsla(224, 25%, 17%, 1) 0px, transparent 50%),
        radial-gradient(at 67% 0%, hsla(335, 85%, 54%, 1) 0px, transparent 50%);

    background-size: "150% 150%";
    filter: "blur(80px) saturate(0.3) brightness(2.5)";
    animation: "moveBackground 40s ease-in-out infinite";
}
